dbvolume
/app/.composer
/app/bagisto/.env
/app/bagisto/.idea
/app/bagisto/.php_cs.cache
/app/bagisto/.vscode
/app/bagisto/.vagrant
/app/bagisto/data
/app/bagisto/docker-compose-collection
/app/bagisto/Homestead.json
/app/bagisto/Homestead.yaml
/app/bagisto/ignorables/*
/app/bagisto/node_modules
/app/bagisto/npm-debug.log
/app/bagisto/package-lock.json
/app/bagisto/public/css
/app/bagisto/public/fonts
/app/bagisto/public/js
/app/bagisto/public/hot
/app/bagisto/public/storage
/app/bagisto/public/themes
/app/bagisto/public/vendor
/app/bagisto/resources/lang/vendor
/app/bagisto/storage/*.key
/app/bagisto/storage/dcc-data/
/app/bagisto/vendor
/app/bagisto/yarn.lock
/app/bagistoyarn-error.log